name: Backtest System

on:
  push:
    branches: ["main"]
  schedule:
    - cron: '0 22 * * *'  # 每天UTC 22:00
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  run-backtest:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.9"
        cache: 'pip'
    
    - name: Install TA-Lib
      run: |
        sudo apt-get update
        sudo apt-get install -y wget build-essential
        wget http://prdownloads.sourceforge.net/ta-lib/ta-lib-0.4.0-src.tar.gz
        tar -xzf ta-lib-0.4.0-src.tar.gz
        cd ta-lib/
        ./configure --prefix=/usr
        make
        sudo make install
        cd ..
    
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install yfinance pandas numpy backtesting TA-Lib
    
    - name: Run backtest
      run: python main.py
    
    - name: Setup Pages
      uses: actions/configure-pages@v4
    
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: './public'
    
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
